#player {
 height: 240px;
 background-color: #252525;
 border-radius: 10px;
 padding: 20px;
 padding-top: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 /* cursor: pointer; */
 margin-top: 15px;
 overflow-y: scroll;
}

#songList {
 list-style-type: none;
 padding: 0;
}

#songList li {
 cursor: pointer;
 padding: 10px;
 border-bottom: 1px solid #424242;
}

#songList li:hover {
 background-color: #333333;
}

#songList li.playing {
 background-color: #444444;
 font-weight: bold;
}

audio {
 width: 80%;
 margin-top: 20px;
}

/* audio Player */





/* Container for audio player */
audio {
 position: absolute;
 bottom: 0;
 margin-bottom: 10px;
 left: 20px;
 width: 95%;
 height: 62px;
 background-color: #1a1a1a;
 /* Dark background */
 color: #000000;
 /* White text */
 border: none;
 border-radius: 5px ;
 /* Rounded corners */
 outline: none;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 5px;
 /* box-shadow: 10px 10px 10px rgba(0, 0, 0, .5),
  -10px -10px -20px rgba(255, 255, 255, .1),
  inset 10px 10px 20px rgba(0, 0, 0, .5),
  inset -10px -10px -20px rgba(255, 255, 255, .1); */
}

/* Remove default styles */
audio::-webkit-media-controls-panel {
 background-color: #1a1a1a;
 color: #ffffff;
}

/* Play/Pause button */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
 background-color: #1a1a1a;
 color: #ffffff;
}

/* Time and progress bar */
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
 color: #ffffff;
 background: #181818;
 padding: 2px;
}

/* Volume controls */
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider {
 background-color: #1a1a1a;
 color: #ffffff;
 /* padding: 2px; */
}

audio::-webkit-media-controls-volume-slider {
 accent-color: #00cc66;
 /* Green slider color */
}

/* Fullscreen button */
audio::-webkit-media-controls-fullscreen-button {
 background-color: #1a1a1a;
 color: #ffffff;
}

/* Adjust the time displays to align properly */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
 margin-left: 5px;
 margin-right: 5px;
}

/* Adjust progress bar */
audio::-webkit-media-controls-timeline {
 flex-grow: 1;
 margin: 0 10px;
}